/* colors used */
.desktop {
  display: none; }

.mid-freight {
  display: none; }

/* start styles */
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-weight: 300;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  text-decoration: none;
  list-style: none; }

/* helpful tools */
hr.line {
  border: 0;
  height: 1px;
  margin: 0 30px;
  background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0)); }

.space {
  margin: 0 10px; }

.container {
  margin: 0; }

/* importing all sass files */
/*  header style */
/*  header style */
.header {
  width: 100%;
  float: left;
  padding: 3% 1%;
  background-color: #FFF;
  border-bottom: #EEE 1px solid;
  margin-bottom: 10px; }

.logo-img {
  width: 23%;
  float: right;
  margin-right: 26.5%; }

.btn-menu {
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  background-color: #FFF;
  cursor: pointer;
  margin: 2% 0 0 3%;
  color: #A1A1A1; }

.btn-cart {
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  background-color: #FFF;
  cursor: pointer;
  margin: 2% 3% 0 0;
  color: #A1A1A1; }
  .btn-cart[data-count]:after {
    position: absolute;
    right: 0px;
    top: -5px;
    content: attr(data-count);
    font-size: 70%;
    padding: 10%;
    border-radius: 50%;
    line-height: 10px;
    color: #FFF;
    background: #4EC2DD;
    text-align: center;
    min-width: 10px;
    font-weight: 900; }

/* nav-bar style */
/* nav-bar style */
.nav-bar {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  background: #FFF;
  overflow-y: scroll; }
  .nav-bar ul {
    width: 100%;
    float: left;
    text-align: center; }

.btn-close {
  width: 30px;
  height: 30px;
  float: right;
  text-align: center;
  background-color: #FFF;
  cursor: pointer;
  margin: 6% 5% 0 0;
  font-size: 115%;
  color: #A1A1A1; }

.menu-btn-group {
  margin-top: 40px; }

.menu-link {
  margin: 15px 0; }
  .menu-link :nth-child(2) {
    margin-bottom: 30px; }
  .menu-link a {
    color: #C8C8C8;
    font-size: 130%; }
  .menu-link a:hover {
    color: #A1A1A1; }

.menu-sale-link {
  padding: 25px 0; }
  .menu-sale-link a {
    font-weight: 900;
    color: #4EC2DD;
    font-size: 160%; }
    .menu-sale-link a:hover {
      color: #0F4156; }

.menu-input {
  margin: 10% 5%;
  padding: 4px;
  height: 35px;
  border-radius: 5px;
  border: #EEE solid 0.5px;
  background: #FFF;
  box-shadow: 0.5px 1px 2px #A1A1A1; }
  .menu-input i {
    color: #C0C0C0;
    margin: 5px;
    float: left; }
    .menu-input i:hover {
      color: #A1A1A1; }
  .menu-input input {
    background-color: #FFF;
    width: 90%;
    float: right;
    margin-top: 4px; }
    .menu-input input::placeholder {
      color: #C0C0C0; }

.menu-logo {
  margin: 75px 0; }

/* cart style */
/* cart style */
.cart-menu {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 100%;
  background: #FFF;
  overflow-y: scroll; }
  .cart-menu ul {
    width: 100%;
    float: left; }

.btn-close-cart {
  width: 30px;
  height: 30px;
  float: left;
  text-align: center;
  background-color: #FFF;
  cursor: pointer;
  margin: 6% 0 0 5%;
  font-size: 115%;
  color: #A1A1A1; }

.cart-title {
  text-align: center;
  font-weight: 900;
  font-size: 120%;
  margin: 25px 0 45px 0; }

.cart-items-group {
  margin-top: 0px; }

.cart-item {
  margin: 10px 0;
  margin-left: 35px;
  font-size: 80%; }
  .cart-item a {
    color: #C8C8C8;
    font-size: 130%;
    display: grid;
    grid-template-columns: 65% 20%;
    grid-gap: 5%; }
  .cart-item:hover {
    color: #A1A1A1; }

.item-name {
  grid-column-start: 1; }

.item-price {
  grid-column-start: 2; }

.cart-buy {
  width: 100%;
  margin: 80px 0;
  text-align: center; }
  .cart-buy input {
    border: #A1A1A1 solid 0px;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: #71CE4B;
    font-weight: 900;
    color: #FFF;
    border-bottom: 2px solid #707070; }

.cart-total {
  float: right;
  margin-right: 15%;
  color: #C8C8C8; }

.cart-footer-title {
  margin: 100px 0; }

/* search bar */
/* search bar */
.search-bar-position {
  border: 0 solid #C8C8C8;
  border-radius: 5px;
  box-shadow: 0px 1px 2px #C8C8C8;
  background-color: #FFF;
  color: #A1A1A1;
  margin-top: 20%;
  padding: 2px; }

.search-bar {
  margin: 0px 4%;
  width: 92%;
  padding: 5px; }
  .search-bar i {
    color: #A1A1A1;
    font-size: 120%;
    margin: 6px 10px 0 10px; }
  .search-bar input {
    font-size: 95%;
    width: 80%;
    padding: 5px 0 8px 0; }
    .search-bar input::placeholder {
      color: #C0C0C0; }

/* breadcrumb style */
/* breadcrumb style */
.breadcrumb {
  margin: 10px 5% 0 5%; }

.breadcrumb-text {
  font-size: 90%;
  color: #C8C8C8;
  margin-right: 15px; }

.prev-category {
  font-weight: 900;
  color: #C8C8C8; }
  .prev-category:hover {
    color: #A1A1A1; }

.current-category {
  color: #4EC2DD;
  font-weight: 900; }
  .current-category:hover {
    color: #0F4156; }

/* product information style */
/* product information style */
.product-title-text {
  margin: 15px 5%;
  color: #C8C8C8;
  font-size: 100%; }

.product-img img {
  max-width: 90%;
  width: 600px;
  margin: 0 5%; }

.product-thumb-img {
  margin: 15px 5% 0 5%; }
  .product-thumb-img img {
    max-width: 120px; }

/* price style */
.product-price {
  margin: 5% 5%;
  background-color: #F8F8F8;
  padding: 5%; }

.full-price, .deal-price {
  color: #C8C8C8; }

.deal-number {
  color: #4EC2DD;
  font-weight: 900;
  font-size: 160%; }

.product-buy {
  margin-top: 15px; }

.btn-buy {
  border: #A1A1A1 solid 0px;
  border-radius: 5px;
  padding: 7px 15px;
  background-color: #71CE4B;
  font-weight: 900;
  color: #FFF;
  border-bottom: 2px solid #707070;
  cursor: pointer; }
  .btn-buy:hover {
    background-color: #63b341; }

/* freight style */
.freight {
  display: inline-block;
  max-width: 100%; }

.freight-input {
  margin: 5px 5%;
  padding: 15px 15px;
  border-radius: 5px;
  background-color: #4EC2DD;
  max-width: 100%; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.freight-5 {
  width: 65%;
  padding: 7px 15px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px #707070; }

.freight-3 {
  width: 30%;
  padding: 7px 7px;
  border-radius: 5px;
  margin-left: 5%;
  margin-bottom: 15px;
  box-shadow: 0px 2px 5px #707070; }

.btn-freight {
  padding: 7px 20px;
  border-radius: 5px;
  margin-left: 5px;
  float: right;
  font-weight: 900;
  background-color: #0F4156;
  color: #FFF;
  font-size: 90%;
  box-shadow: 0px 2px 5px #707070; }
  .btn-freight:hover {
    background-color: #0B3141;
    cursor: pointer; }

.freight-text {
  font-weight: 900;
  color: #FFF;
  font-size: 90%; }

/* product description style */
.product-description {
  margin: 15px 5%; }

.description-title {
  text-align: center;
  color: #0F4156;
  margin: 30px 0; }

.description-text {
  color: #C8C8C8;
  margin: 15px 0; }
  .description-text p:nth-child(1) {
    margin-bottom: 15px; }

/* recommended products style */
/* recommended products style */
.recommended-product {
  margin: 5% 5%;
  background-color: #F8F8F8;
  padding: 2.5%;
  font-size: 80%;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 5px; }

.recommended-product-img img {
  width: 95%;
  height: 100%;
  object-fit: cover; }

.recommended-product-title {
  color: #C8C8C8;
  margin-bottom: 15px; }
  .recommended-product-title a {
    color: #C0C0C0; }
    .recommended-product-title a:hover {
      color: #A1A1A1; }

/* footer style */
/* footer style */
.footer {
  background-color: #4EC2DD;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-gap: 0px; }

.footer-logo {
  background-color: #0F4156;
  margin: 0;
  bottom: 0;
  left: 0; }
  .footer-logo img {
    margin: 10% 15%;
    grid-column-start: 1; }

.footer-text {
  text-align: center;
  padding: 12% 10px;
  font-size: 80%;
  color: #FFF;
  grid-column-start: 2; }

/* modal style */
/* modal style */
.modal-background {
  background-color: rgba(0, 0, 0, 0.2);
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  overflow-x: hidden;
  opacity: 1;
  animation-name: show-modal;
  animation-duration: .5s; }

.modal {
  text-align: center; }

.modal-body {
  background-color: #FFF;
  padding: 25px 0;
  margin: 0 auto;
  width: 95%;
  overflow-y: scroll;
  min-height: 350px;
  margin-top: 25%;
  border-radius: 5px; }

.modal-sucess-icon img {
  width: 100px; }

.modal-text {
  font-weight: 900;
  color: #4EC2DD;
  margin-top: 30px;
  padding: 0 45px; }

.modal-btn {
  margin: 45px 0; }

.close-modal-btn {
  color: #FFF;
  background-color: #0F4156;
  padding: 10px 45px;
  border-radius: 5px;
  font-weight: 900; }
  .close-modal-btn:hover {
    background-color: #0B3141;
    cursor: pointer; }

/* desktop style */
/* desktop style */
@media screen and (min-width: 580px) {
  .nav-bar, .responsive-header, .cart-menu, .search-bar, .mobile {
    display: none; }
  .container {
    margin: 0 15%; }
  .desktop {
    display: block; } }

@media screen and (min-width: 580px) {
  /* header style */
  .header {
    margin: 0;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 55px; }
  .header-logo {
    width: 70px;
    float: left;
    position: relative;
    left: -20px; }
    .header-logo img {
      width: 85px; }
  .cart-icon {
    position: relative;
    bottom: 60px;
    left: 0px; }
    .cart-icon a {
      float: right;
      color: #C0C0C0;
      text-decoration: none; }
      .cart-icon a:hover {
        color: #707070; }
  .header-links {
    position: relative;
    bottom: 18px;
    left: 5%; }
    .header-links ul li {
      display: inline-flex;
      margin: 0 10px;
      font-size: 60%; }
    .header-links :nth-child(4) {
      margin-left: 5%;
      width: 45%; }
  .header-search-bar {
    padding: 10px;
    border: 0 solid #C0C0C0;
    box-shadow: 0.5px 0.5px 5px #C0C0C0;
    border-radius: 5px;
    background-color: #FFF; }
    .header-search-bar input {
      width: 100%;
      margin-left: 20px;
      font-size: 140%; }
      .header-search-bar input::placeholder {
        color: #C0C0C0; }
    .header-search-bar i {
      color: #C0C0C0;
      font-size: 150%; }
  .cart-icon[data-count]:after {
    position: absolute;
    right: -7px;
    top: -7px;
    content: attr(data-count);
    font-size: 50%;
    padding: 2px;
    border-radius: 50%;
    line-height: 10px;
    color: #FFF;
    background: #4EC2DD;
    text-align: center;
    min-width: 10px;
    font-weight: 900; } }

@media screen and (min-width: 580px) {
  .product-info-margin {
    margin: 0 15%; }
  .product-info {
    position: absolute;
    top: 60px;
    left: 0px; }
  .product-desktop-info {
    display: inline-grid;
    grid-template-columns: 10% 40% 50%;
    grid-gap: 0; }
  .breadcrumb {
    font-size: 85%;
    margin: 20px 0; }
  .space {
    margin: 0 15px; }
  .product-thumb-img {
    margin: 0;
    float: left;
    grid-column-gap: 5px; }
    .product-thumb-img img {
      width: 100%; }
  .product-img {
    margin-left: 15px; }
    .product-img img {
      margin: 0;
      min-width: 100%; }
  .product-title-text {
    font-size: 150%;
    line-height: 30px;
    margin: 0 0 20px 20px; }
  .product-price {
    margin: 0;
    width: 100%;
    max-width: 500px;
    padding: 15px 25px; }
    .product-price .full-price {
      font-size: 80%;
      margin-bottom: 5px; }
    .product-price .deal-price {
      font-size: 80%; }
    .product-price .deal-number {
      font-size: 250%; }
  .freight-input {
    margin: 15px;
    font-size: 80%;
    display: grid;
    width: 100%;
    max-width: 450px; }
    .freight-input input {
      box-shadow: 0px 2px 5px #707070;
      padding: 10px;
      border-radius: 5px; }
    .freight-input .freight-3 {
      width: 20%;
      margin-right: 5px;
      margin-left: 5px; }
    .freight-input .freight-5 {
      width: 40%;
      margin-right: 5px; }
    .freight-input .btn-freight {
      padding: 10px 28px;
      margin: 0;
      font-size: 120%; }
  .description-title {
    margin-top: 50px;
    font-size: 150%; }
  .description-text {
    font-size: 80%;
    line-height: 25px; }
  .product-description {
    margin: 0; } }

@media screen and (min-width: 580px) {
  .modal {
    max-width: 250px;
    height: 300px;
    position: absolute;
    top: 250px;
    left: 50%;
    transform: translate(-50%, -50%); }
    .modal ::-webkit-scrollbar {
      display: none; }
    .modal .modal-body {
      padding: 30px 0; }
    .modal .modal-btn {
      margin-bottom: 0; } }

@media screen and (min-width: 580px) {
  .recommended-products-list {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    grid-gap: 10px;
    margin: 0 0 25px 0;
    padding: 0 20%; }
    .recommended-products-list .recommended-products {
      display: grid; }
    .recommended-products-list .recommended-product {
      margin: 0 0 15px 0;
      display: grid;
      grid-template-columns: 100%;
      padding: 10px; }
    .recommended-products-list .recommended-product-title {
      font-size: 105%;
      margin-top: 5px; }
    .recommended-products-list .recommended-product-img img {
      width: 100%;
      max-width: 400px;
      height: 100%;
      max-height: 300px; }
    .recommended-products-list .full-price {
      margin-top: 25px;
      margin-bottom: 5px; } }

@media screen and (min-width: 580px) {
  .footer {
    height: 65px;
    grid-template-columns: 25% 70%; }
    .footer .footer-text {
      padding: 0;
      margin: 25px 0 0 20px;
      text-align: left; }
    .footer .footer-logo {
      text-align: right;
      padding: 0; }
      .footer .footer-logo img {
        height: 35px;
        margin: 15px 20px 0 0; }
  .footer-color {
    width: 100%;
    height: 60px;
    background-color: #0F4156; } }

/* medium screens */
@media screen and (max-width: 1250px) and (min-width: 830px) {
  .container {
    margin: 0 5%; }
  .product-title-text {
    font-size: 150%;
    line-height: 25px;
    margin-bottom: 10px; }
  .recommended-products-list {
    width: 100%; }
  .freight-3 {
    margin-right: 5px; } }

@media screen and (max-width: 830px) and (min-width: 580px) {
  .cart-menu, .nav-bar, .responsive-header, .search-bar, .mid-freight {
    display: block; }
  .desktop-header, .cart-icon, .freight-input {
    display: none; }
  .container {
    margin: 0 5%; }
  .header {
    height: 60px; }
  .logo-img {
    width: 100px;
    position: relative;
    left: -50px; }
  .btn-menu {
    margin: 1% 0 0 2%; }
  .btn-cart {
    margin: 1% 2% 0 0; }
  .cart-menu, .nav-bar {
    z-index: 1; }
  .product-info {
    top: 120px; }
  .product-title-text {
    font-size: 100%;
    line-height: 25px;
    margin: 0 0 10px 10px; }
  .search-bar-position {
    margin-top: 75px; }
  .mid-freight {
    margin: 5px 5%;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #4EC2DD;
    margin: 15px 0;
    font-size: 80%;
    display: grid; }
    .mid-freight input {
      box-shadow: 0px 2px 5px #707070;
      padding: 7px;
      border-radius: 5px; }
    .mid-freight .btn-freight {
      padding: 10px 25px 10px 25px; }
    .mid-freight .freight-3 {
      width: 100px;
      margin-left: 15px;
      margin-right: 5px;
      padding: 10px 25px 10px 25px; }
    .mid-freight .freight-5 {
      width: 50%;
      padding: 10px 25px 10px 25px; }
  .recommended-products-list {
    grid-template-columns: 33% 33% 33%; }
  .recommended-products-list {
    width: 100%;
    padding: 0 5%; } }

/* animaitons */
@-webkit-keyframes show-menu {
  from {
    left: -100%; }
  to {
    left: 0; } }

@-webkit-keyframes hide-menu {
  from {
    left: 0; }
  to {
    left: -100%; } }

@-webkit-keyframes show-modal {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@-webkit-keyframes hide-modal {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }

@-webkit-keyframes show-cart {
  from {
    left: 100%; }
  to {
    left: 0; } }

@-webkit-keyframes hide-cart {
  from {
    left: 0; }
  to {
    left: 100%; } }
