@-webkit-keyframes show-menu {
    from {left: -100%;}
    to {left: 0;}
}

@-webkit-keyframes hide-menu {
    from {left: 0;}
    to {left: -100%;}
}

@-webkit-keyframes show-modal {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes hide-modal {
    from {opacity: 1;}
    to {opacity: 0;}
}

@-webkit-keyframes show-cart {
    from {left: 100%;}
    to {left: 0;}
}
    
@-webkit-keyframes hide-cart {
    from {left: 0;}
    to {left: 100%;}
}