/* desktop style */
@media screen and (min-width: 580px){
    .nav-bar, .responsive-header, .cart-menu, .search-bar, .mobile {
        display: none;
    }

    .container {
        margin: 0 15%;
    }
    .desktop {
        display: block;
    }
}