/*  header style */
.header {
    width: 100%;
    float: left;
    padding: 3% 1%;
    background-color: $white;
    border-bottom: $ice-white 1px solid;
    margin-bottom: 10px;
}

.logo-img {
    width: 23%;
    float: right;
    margin-right: 26.5%;
}

.btn-menu {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    margin: 2% 0 0 3%;
    color: $medium-grey;
}

.btn-cart {
    width: 30px;
    height: 30px;
    float: right;
    text-align: center;
    background-color: $white;
    cursor: pointer;
    margin: 2% 3% 0 0;
    color: $medium-grey;
    &[data-count]:after{
        position: absolute;
        right: 0px;
        top: -5px;
        content: attr(data-count);
        font-size: 70%;
        padding: 10%;
        border-radius: 50%;
        line-height: 10px;
        color: $white;
        background: $light-blue;
        text-align: center;
        min-width: 10px;
        font-weight: 900;
    }
}