@media screen and (min-width: 580px){

    /* header style */
    
    .header {
        margin: 0;
        padding: 10px 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 55px;
    }
    
    .header-logo {
        width: 70px;
        float: left;
        position: relative;
        left: -20px;
        img {
            width: 85px;
        }
    }


    .cart-icon {
        position: relative;
        bottom: 60px;
        left: 0px;
        a {
            float: right;
            color: $light-grey;
            text-decoration: none;
            &:hover {
                color: $dark-grey;
            }
        }
    }

    .header-links {
        position: relative;
        bottom: 18px;
        left: 5%;
        ul li{
            display: inline-flex;
            margin: 0 10px;
            font-size: 60%;
        }
        :nth-child(4){
            margin-left: 5%;
            width: 45%;
        }
    }

    .header-search-bar {
        padding: 10px;
        border: 0 solid $light-grey;
        box-shadow: 0.5px 0.5px 5px $light-grey;
        border-radius: 5px;
        background-color: $white;
        input {
            width: 100%;
            margin-left: 20px;
            font-size: 140%;
            &::placeholder {
                color: $light-grey;
            }
        }
        i {
            color: $light-grey;
            font-size: 150%;
        }
    }

    .cart-icon {
        &[data-count]:after{
            position: absolute;
            right: -7px;
            top: -7px;
            content: attr(data-count);
            font-size: 50%;
            padding: 2px;
            border-radius: 50%;
            line-height: 10px;
            color: $white;
            background: $light-blue;
            text-align: center;
            min-width: 10px;
            font-weight: 900;
        }
    }
}