/* colors used */

$darker-blue: #0F4156;
$dark-blue: #0B3141;
$light-blue: #4EC2DD;
$ice-white: #EEE;
$white: #FFF;
$yellowish-white: #F8F8F8;
$light-green: #71CE4B;
$dark-green: rgb(99, 179, 65);
$whiter-grey: rgba(207, 207, 207, 0.5);
$lighter-grey: #C8C8C8;
$light-grey: #C0C0C0;
$medium-grey: #A1A1A1;
$dark-grey: #707070;

.desktop {
    display: none;
}

.mid-freight {
    display: none;
}

/* start styles */

* {
    margin: 0;
    padding: 0;
    font-size: 100%;
    font-weight: 300;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    list-style: none;
}

/* helpful tools */
hr.line {
    border: 0;
    height: 1px;
    margin: 0 30px;
    background-image: linear-gradient(to right, rgba(200, 200, 200, 0), rgba(200, 200, 200, 0.75), rgba(200, 200, 200, 0));
}

.space {
    margin: 0 10px;
}

.container {
    margin: 0;
}

/* importing all sass files */

/*  header style */
@import "header.scss";

/* nav-bar style */
@import "nav-bar.scss";

/* cart style */
@import "cart-style.scss";

/* search bar */
@import "search-bar.scss";

/* breadcrumb style */
@import "breadcrumb.scss";

/* product information style */
@import "product.scss";

/* recommended products style */
@import "recommended-products.scss";

/* footer style */
@import "footer.scss";

/* modal style */
@import "modal.scss";


/* desktop style */

@import "desktop-style.scss";

@import "header-desktop.scss";

@import "product-desktop.scss";

@import "modal-desktop.scss";
    
@import "recommended-desktop.scss";

@import "footer-desktop.scss";

/* medium screens */
    
@import "medium-screen.scss";

/* animaitons */

@import "animations.scss";