@media screen and (min-width: 580px){
    .product-info-margin {
        margin: 0 15%;
    }

    .product-info {
        position: absolute;
        top: 60px;
        left: 0px;
    }

    .product-desktop-info {
        display: inline-grid;
        grid-template-columns: 10% 40% 50%;
        grid-gap: 0;
    }

    .breadcrumb {
        font-size: 85%;
        margin: 20px 0;
    }

    .space {
        margin: 0 15px;
    }

    .product-thumb-img {
        margin: 0;
        float: left;
        grid-column-gap: 5px;
        img {
            width: 100%;
        }
    }
    
    .product-img {
        margin-left: 15px;
        img {
            margin: 0;
            min-width: 100%;
        }
    }

    .product-title-text {
        font-size: 150%;
        line-height: 30px;
        margin: 0 0 20px 20px;
    }

    .product-price {
        margin: 0;
        width: 100%;
        max-width: 500px;
        padding: 15px 25px;
        .full-price{
            font-size: 80%;
            margin-bottom: 5px;
        }
        .deal-price {
            font-size: 80%;
        }
        .deal-number {
            font-size: 250%;
        }
    }

    .freight-input {
        margin: 15px;
        font-size: 80%;
        display: grid;
        width: 100%;
        max-width: 450px;
        input {
            box-shadow: 0px 2px 5px $dark-grey;
            padding: 10px;
            border-radius: 5px;
        }

        .freight-3 {
            width: 20%;
            margin-right: 5px;
            margin-left: 5px;
        }
        .freight-5{
            width: 40%;
            margin-right: 5px;
        }
        .btn-freight {
            padding: 10px 28px;
            margin: 0;
            font-size: 120%;
        }
    }

    .description-title {
        margin-top: 50px;
        font-size: 150%;
    }

    .description-text {
        font-size: 80%;
        line-height: 25px;
    }

    .product-description {
        margin: 0;
    }
}