@media screen and (min-width: 580px){
    .recommended-products-list {
        display: inline-grid;
        grid-template-columns: 1fr 1fr 1fr;
        width: 100%;
        grid-gap: 10px;
        margin: 0 0 25px 0;
        padding: 0 20%;
        .recommended-products {
            display: grid;
        }
        .recommended-product {
            margin: 0 0 15px 0;
            display: grid;
            grid-template-columns: 100%;
            padding: 10px;
        }
        .recommended-product-title {
            font-size: 105%;
            margin-top: 5px;
        }
        .recommended-product-img {
            img {
                width: 100%;
                max-width: 400px;
                height: 100%;
                max-height: 300px;
            }
        }
        .full-price {
            margin-top: 25px;
            margin-bottom: 5px;
        }
    }
}